
#root, .split-pane, .scroll-pane {
    -fx-font: 18 sans-serif;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 10;
}

.menu-bar {
    -fx-font: 16 sans-serif;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pannable: true;
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
}

.text-area {
    -fx-font: 18 monospace;
}
