.classpath
.project
target
.settings
.idea/
bin
*.iml
**/lib/
config/*.properties
common/test/src/test/resources/latest/*
common/test/src/test/resources/accepted/*
**/dependency-reduced-pom.xml
/local/
dependency-reduced-pom.xml
